<footer>
    <div class="badges">
        <a href="https://fabrykajabo.li" target="_blank">
            <img src="/assets/img/buttons/jabol-88x31.png"  width="88" height="31">
        </a>
        <a href="https://archlinux.org" target="_blank">
            <img src="/assets/img/buttons/arch.png" width="88" height="31">
        </a>
        <img src="/assets/img/buttons/minecraft.gif" width="88" height="31">
        <img src="/assets/img/buttons/firefox.gif" width="88" height="31">
        <a href="https://jointhefediverse.net" target="_blank">
            <img src="/assets/img/buttons/fediverse.gif" width="88" height="31">
        </a>
        <img src="/assets/img/buttons/www.gif" width="88" height="31">
        <img src="/assets/img/buttons/ublock.png" width="88" height="31">
        <img src="/assets/img/buttons/linux.png" width="88" height="31">
        <img src="/assets/img/buttons/sucks.gif" width="88" height="31">
        <img src="/assets/img/buttons/neovim.gif" width="88" height="31">
    </div>
    <div class="fediring">
        <a href="https://fediring.net/previous?host=ametic.ovh"><</a>
        <span style="margin:0 10px;">•</span>
        <a href="https://fediring.net/">Fediring</a>
        <span style="margin:0 10px;">•</span>
        <a href="https://fediring.net/next?host=ametic.ovh">></a>
    </div>
    <div class="nixring">
        <a href="https://nixwebr.ing/prev/Ametic"><</a>
        <span style="margin:0 10px;">•</span>
        <a href="https://nixwebr.ing/">Nix webring</a>
        <span style="margin:0 10px;">•</span>
        <a href="https://nixwebr.ing/next/Ametic">></a>
</footer>