<header>
    <nav>
        <a href="/">Home</a>
        <a href="/projects/" style="margin-left: 20px;">Projects</a>
        <a href="/setup/" style="margin-left: 20px;">Setup</a>
        <a href="/blog/" style="margin-left: 20px;">Blog</a>
    </nav>
</header>